__pycache__/
dataset/
.ipynb_checkpoints/
*.parquet
gcp-service-account.json
.DS_Store
.terraform*
*.tfstate*
gcs.json
.bruin.yml
logs/runs
logs/*.log
*.py[cod]
de_zoomcamp/06-batch/lesson/data/
de_zoomcamp/06-batch/lesson/fhvhv/
de_zoomcamp/06-batch/lesson/_write_test/
de_zoomcamp/06-batch/homework/output/
gcp.json