__pycache__/
dataset/
.ipynb_checkpoints/
*.parquet
gcp-service-account.json
.DS_Store
.terraform*
*.tfstate*
gcs.json
.bruin.yml
logs/runs
logs/*.log
*.py[cod]
06_batch/lesson/data/
06_batch/lesson/fhvhv/
06_batch/lesson/_write_test/
06_batch/output/
gcp.json